body {
  margin: 0;
  font-family:  "Times New Roman", Times, serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(238, 216, 216);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(248, 245, 245);
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
footer {
  width: auto;
  height: 20px;
  background-color: rgb(240, 200, 227);
  margin: 8px auto;
}
main {
  width: auto;
  height: 70px;
  background-color: lightcoral;
}

article p:first-child {
  font-size: 120%;
  font-weight: bold;
}  

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: serif;
  background-color: lightgray;
}
   
  